@model projet_ASP.Models.Locataire

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Locataire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.nomComplet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.nomComplet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Npermis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Npermis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idLocataire }) |
    @Html.ActionLink("Back to List", "Index")
</p>
