@model IEnumerable<projet_ASP.Models.Locataire>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.nomComplet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Npermis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.nomComplet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Npermis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idLocataire }) |
            @Html.ActionLink("Details", "Details", new { id=item.idLocataire }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idLocataire })
        </td>
    </tr>
}

</table>
