@model projet_ASP.Models.Voiture

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.proprietaire.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proprietaire.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.couleur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.couleur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbPlaces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbPlaces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.automatique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.automatique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coutParJour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coutParJour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponible)
        </dd>

      @*  <dt>
            @Html.DisplayNameFor(model => model.imagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagePath)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
