@model projet_ASP.Models.Voiture

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3> 
<div class=" " style="display:flex;flex-wrap:wrap;justify-content:space-between"> 
    <table class="table-responsive table-striped  table-hover" style=" width:280px;">
        <tr style="display:none;">

            <td>
                @Html.LabelFor(model => model.idProprietaire, new { @class = " " }):
            </td>

            <td>
                @Html.DisplayFor(model => model.idProprietaire)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.marque, new { @class = " " }):
            </td>

            <td>
                @Html.DisplayFor(model => model.marque)
            </td>

        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.model, new { @class = " " }):
            </td>

            <td>
                @Html.DisplayFor(model => model.model)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.couleur, new { @class = " text-left" }):
            </td>

            <td>
                @Html.DisplayFor(model => model.couleur)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.nbPlaces, new { @class = "text-left" }):
            </td>

            <td>
                @Html.DisplayFor(model => model.nbPlaces)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.automatique, new { @class = " " }):
            </td>

            <td>
                @(Model.automatique? "Automatique":"Manuelle")
                </t>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.coutParJour, new { @class = "control-label " }):
            </td>

            <td>
                @Html.DisplayFor(model => model.coutParJour)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.disponible, new { @class = " " }):
            </td>

            <td>
                @(Model.disponible ? "Disponible":"Réservé")
            </td>
        </tr>
    </table>

    <div style="      
        max-width: 250px; 
        display: flex; 
        align-items: center;
    ">
        <img class="img-responsive" src="@(string.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.image)))" />
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color mt-2"  >
        @Html.ActionLink("Cancel", "Index", null, new { @style = "width:100px;", @class = "btn btn-default p" })
        <input type="submit" value="Delete" class="btn btn-danger " style="width:100px;" />
    </div>
}
 