@model projet_ASP.Models.Voiture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.proprietaire.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proprietaire.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.couleur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.couleur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbPlaces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbPlaces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.automatique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.automatique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coutParJour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coutParJour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagePath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.matricule }) |
    @Html.ActionLink("Back to List", "Index")
</p>
