@model projet_ASP.Models.Voiture

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<div class=" t p-2" style="display:flex;flex-wrap:wrap;justify-content:space-between;">
    <table class="table-responsive" style=" width:280px;">
        <tr style="display:none;">

            <td>
                @Html.LabelFor(model => model.idProprietaire, new { @class = " " }):
            </td>

            <td>
                @Html.DisplayFor(model => model.idProprietaire)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.marque, new { @class = " " }):
            </td>

            <td>
                @Html.DisplayFor(model => model.marque)
            </td>

        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.model, new { @class = " " }):
            </td>

            <td>
                @Html.DisplayFor(model => model.model)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.couleur, new { @class = " text-left" }):
            </td>

            <td>
                @Html.DisplayFor(model => model.couleur)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.nbPlaces, new { @class = "text-left" }):
            </td>

            <td>
                @Html.DisplayFor(model => model.nbPlaces)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.automatique, new { @class = " " }):
            </td>

            <td>
                @(Model.automatique? "Automatique":"Manuelle")
                </t>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.disponible, new { @class = " " }):
            </td>

            <td>
                @(Model.disponible ? "Disponible":"Réservé")
            </td>
        </tr>
        <tr>
            <td class="  ">
                @Html.LabelFor(model => model.coutParJour, new { @class = "control-label " }):
            </td>

            <td class="text-success  " style=" ">
                @Html.DisplayFor(model => model.coutParJour)DH/jour
            </td>
        </tr>
    </table>

    <div style="
        max-width: 250px;
        display: block;
        align-items: center; ">
        <div class="text-success border border-warning px-1 rounded "  style="font-size:22px;max-width:120px;"> 
                @Html.DisplayFor(model => model.coutParJour, new { @style = " ", @class = "text-white" })DH/jour 
        </div>
        <img class="img-responsive" src="@(string.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.image)))" />
    </div>
</div>  
<div  class="  mb-4 p-2">
    <form class=" filterbydate " id="filterbydate" style=" z-index:1444; ">
        <div class="d-flex mt-2">
            @Html.Label("Date de debut: ", new {@style="width:110px", @class = "text-left pt-2 pr-2" })
            <input type="datetime-local" name="startdate" class="form-control startdate py-0" style="font-size:11px;width:165px; " />
        </div>
        <div class="d-flex mt-2">
            @Html.Label("Date de retour: ", new { @style = "width:110px", @class = "text-left pt-2 pr-2" })      
            <input type="datetime-local" name="enddate" class="form-control enddate" style="font-size:11px; width:165px;" />

        </div>
    </form>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color mt-4">
        @Html.ActionLink("Cancel", "Index", null, new { @style = "width:100px;", @class = "btn btn-default p" })
        <input type="submit" value="Reserver" class="btn btn-success " style="width:100px;" />
    </div>

}
 
 