@model projet_ASP.Models.Voiture

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit",
                        "Voitures",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Voiture</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idVoiture)
    @Html.HiddenFor(model => model.idProprietaire)
    <div class="form-group">
        @Html.LabelFor(model => model.matricule, htmlAttributes: new { @class = "control-label col-md-2 text-left" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.matricule, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.matricule, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.marque, htmlAttributes: new { @class = "control-label col-md-2 text-left" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.marque, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.marque, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.model, htmlAttributes: new { @class = "control-label col-md-2 text-left" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.model, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.model, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.couleur, htmlAttributes: new { @class = "control-label col-md-2 text-left" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.couleur, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.couleur, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nbPlaces, htmlAttributes: new { @class = "control-label col-md-2 text-left" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nbPlaces, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nbPlaces, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.automatique, htmlAttributes: new { @class = "control-label col-md-2 text-left " })
        <div class="col-md-10">
            <div class="checkbox">
                <label>
                    @Html.RadioButton("automatique", true, Model.automatique, new { @class = "text-danger" }) Auto
                </label>
                <label>
                    @Html.RadioButton("automatique", false, !Model.automatique, new { @class = "text-danger" }) Manual
                </label>
                @Html.ValidationMessageFor(model => model.automatique, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.coutParJour, htmlAttributes: new { @class = "control-label col-md-2 text-left " })
        <div class="col-md-10">
          @*  @Html.EditorFor(model => model.coutParJour, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="number" name="coutParJour" value="@Model.coutParJour" class="form-control" id="coutParJour" />
            @Html.ValidationMessageFor(model => model.coutParJour, "", new {@type="number", @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.disponible, htmlAttributes: new { @class = "control-label col-md-2 text-left" })
        <div class="col-md-10">
            <div class="checkbox">
                <label> 
                    @Html.RadioButton("disponible", true,Model.disponible, new { @class = "text-danger" }) Disponible
                </label>
                <label>
                    @Html.RadioButton("disponible", false, !Model.disponible, new { @class = "text-danger" }) Alloué
                </label>
                @Html.ValidationMessageFor(model => model.disponible, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

 
 
    <div class="form-group">
        @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @* @Html.TextBoxFor(model => model.image, new { type = "file", accept = "image/*", htmlAttributes = new { @class = "form-control" } })*@

            <input type="file" name="file" class="file " accept="image/*" enctype="multipart/form-data" />
            @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
        </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-outline-primary  form-control" />
                </div>
            </div>
        </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
