@model IEnumerable<projet_ASP.Models.Voiture>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="voitures_page ">

    <div class="container-fluid  bg-light filter-bar" style="  ">
        <div>
            <button type="submit" class="btn btn-outline-primary ignore px-4 py-2 filter-btn" id="filter-btn" style="outline:none;">  <i class="fas ignore filter-btn fa-filter pr-2"></i>Filtrer </button>
            @using (Html.BeginForm("filter", "Voitures", FormMethod.Post, new { name = "filter-form", @class = "ignore", @id = "filterFormId" }))
            {
                <div @*action="filter" method="post"*@ class="card border ignore py-2 px-4 filterbydate bg-light" id="filterbydate" style="min-height:260px;width:250px; margin:10px auto;position:absolute;top:35px;z-index:1444;display:none;">
                    Cout par jour (DH):<div style="display:flex;" class="ignore">
                        <input type="number" name="min" placeholder="min" class="form-control mr-3 ignore" style="width:135px;" />
                        <input type="number" name="max" placeholder="max" class="form-control ignore" style="max-width:135px;" />
                    </div>
                    Ville: <input type="text" name="Ville" class="form-control Ville ignore" style="font-size:11px; " />
                    Start: <input type="date" name="startdate" min="@DateTime.Now.ToString("yyyy-MM-dd")" id="startdate" class="form-control startdate ignore" style="font-size:11px; " />
                    End: <input type="date" name="enddate" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" id="enddate" onchange="datechanged(this)" class="form-control enddate ignore" style="font-size:11px; " />
                    <input type="submit" value="filter" id="filter" class="btn btn-outline-primary ignore py-1 px-4 mt-2 filter" style="outline:none;">
                </div>
            }
        </div>
        <form action="../Voitures/Index" method="post" class="input-group d-flex searchform" style="position:absolute;right:5px;" name="searchform">
            @* @Html.BeginForm("Index", "Voitures", FormMethod.Get){*@
            @* <form action="../Voitures/Index" method="get">*@

            <div class="form-outline">
                <input id="search-input" required type="search" placeholder=" Search anything" name="key" id="form1 key" style="width:0px;" class="form-control rounded p-0 search-input" />
                @* <label class="form-label" for="form1">Search</label>*@
            </div>
            <button type="submit" id="SearchBtn" class="btn btn-primary ml-1 SearchBtn" style="outline:none;">
                <i class="fas fa-search"></i>
            </button>
            @* </form>*@
        </form>
    </div>
    @if (User.IsInRole("Proprietaire"))
    {
        <p>
            @* @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })*@
        </p>
    }

    @foreach (var item in Model)
    {

        byte[] byteData = item.image;

        //Convert byte arry to base64string
        string imreBase64Data = Convert.ToBase64String(byteData);
        string imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data); //https://www.c-sharpcorner.com/article/mvc-display-image-from-byte-array/
                                                                                        //Passing image data in viewbag to view
        ViewBag.img = imgDataURL;

        byte[] byteData2 = item.proprietaire.ApplicationUser.imageBytes;

        //Convert byte arry to base64string
        string imreBase64Data2 = Convert.ToBase64String(byteData2);
        string imgDataURL2 = string.Format("data:image/png;base64,{0}", imreBase64Data2);
        ViewData["ProfileImg"] = string.Format("data:image/png;base64,{0}", imreBase64Data2);

        @Html.Partial("_CarCard", item);

    }
    @if (Model.ToArray().Length < 1)
    {
        <div class="h3" style="text-align:center;">Ups!... no results found</div>
        <img class="filter-bar p-0" style="margin-top:-65px;" src="~/Content/no-result.svg" />
    }
</div>
<style>
    .form-outline .form-control ~ .form-label {
        position: absolute;
        top: 0;
        left: .75rem;
        padding-top: .37rem;
        pointer-events: none;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transition: all .2s ease;
        transition: all .2s ease-out;
        color: rgba(0,0,0,.6);
        margin-bottom: 0;
    }

    .filter-bar {
        min-height: 43px;
        margin: 10px auto;
        min-width: 320px;
        max-width: 730px;
        padding: 5px;
        position: relative;
        display: flex;
    }

    #search-input {
        width: 0px;
        padding: 0px;
        transition: width .35s;
    }



</style>

<script>

    const searchButton = document.getElementById('SearchBtn');
    const searchInput = document.getElementById('search-input');
    var disp_flag = false;
    searchButton.addEventListener('mouseenter', () => {
        searchInput.style.width = "150px";
        searchInput.focus();
        //  disp_flag = !disp_flag;
        // searchInput.style.display = disp_flag? "inline":"none";
    });
    $('body').on('click', function (e) {
        if (!$(e.target).hasClass('search-input') && !$(e.target).hasClass('SearchBtn')) {
            searchInput.style.width = "0px";
            searchInput.blur();
        }
    });

    searchButton.addEventListener('click', () => {
        event.preventDefault();
        searchInput.style.width = "150px";
        searchInput.focus();
        console.log(searchInput.value);
        if (searchInput.value.length>0)
        document.forms["searchform"].submit();

    });

    const filterButton = document.getElementById('filter-btn');
    const filtercontainer = document.getElementById('filterbydate');
    const filter = document.getElementById('filter');
    var showFilter = false;
    filterButton.addEventListener('click', () => {
      @*  searchInput.style.width = "0px";
        searchInput.blur();*@
        showFilter = !showFilter;
        filtercontainer.style.display = showFilter ? "block" : "none";
    });
      @*  filter.addEventListener('click', () => {
            filtercontainer.style.display = "none";
            showFilter = !showFilter;
        }); *@
    $('body').on('click', function (e) {
        if (!$(e.target).hasClass('ignore') ) {
            filtercontainer.style.display = "none";
            showFilter = false;

        }
   @*     if (!$(e.target).hasClass('search-input') && !$(e.target).hasClass('SearchBtn')) {
            searchInput.style.width = "0px";
            searchInput.blur();
        }*@

    });

    $('#filterFormId').submit(function (e) {
        if (($('.enddate').val() != "" && $('.startdate').val() == "") || ($('.enddate').val() == "" && $('.startdate').val() != "") ) {
           e.preventDefault();
            alert("remplire les deux date !");
            return;
        }
    });
 

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

