@using projet_ASP.Models
@model projet_ASP.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@*//https://codepen.io/FlorinPop17/pen/vPKWjd*@
<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
<link href="~/Content/loginStyle.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/a81368914c.js"></script>

<div class="row">
    @*    <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">

                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>

                }
            </section>
        </div>*@
    <img src="~/Content/Images/Login/wave.png" class="wave" />
    <div class="container-login">
        <div class="img">
            <img src="~/Content/Images/Login/bg.svg" />
        </div>

        <div class="login-content">
          
            <form action="login" class="form" method="post">
                @Html.AntiForgeryToken()
                <img src="~/Content/Images/Login/avatar.svg" />
                <h2 class="title">Welcome</h2>

                <div>
                    @Html.ValidationSummary("", new { @class = "text-danger summary alert-danger rounded" })
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Username</h5>
                        <input type="text" name="Email" class="input">@*
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@

                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Password</h5>
                        <input type="password" name="Password" class="input">@*
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@

                    </div>
                </div>
                <div style="width:100%;">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn-login" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<script>
    const inputs = document.querySelectorAll(".input");

    function addcl() {
        let parent = this.parentNode.parentNode;
        parent.classList.add("focus");
    }

    function remcl() {
        let parent = this.parentNode.parentNode;
        if (this.value == "") {
            parent.classList.remove("focus");
        }
    }
    inputs.forEach(input => {
        input.addEventListener("focus", addcl);
        input.addEventListener("blur", remcl);
    });

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



<style>
    element.style {
        min-width: 320px;
        border:none;
        /* border-left: solid 1px #f1f1f1; */
        /* border-right: solid 1px #f1f1f1; */
    }
    .container {
        border: none;
       width:100%;
        margin:10px 0px; 
    @*    background: red;*@
    }
    .row {
        margin: 10px auto;
        width:100%;
    }
    .validation-summary-errors ul{
        text-align:center;
        list-style: none;
    }
</style>
 