@model projet_ASP.Models.Proprietaire
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="main-body">
        <!-- other design https://www.bootdey.com/snippets/view/about-me or https://bootsnipp.com/snippets/K0ZmK -->
        <div class="row gutters-sm justify-content-center">
            <div class="col-md-3 mb-3 p-0">
                <div class="card1">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col">
                                <img id="imgProfile" src="@(string.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.ApplicationUser.imageBytes)))" alt="Admin" class="d-block ml-auto mr-auto rounded-circle" width="150px">
                            </div>
                            <div class="col text-center"> <h4 id="mainName">@Model.ApplicationUser.nomComplet</h4></div>
                            <div class="col m-0 p-0">
                                <p class="text-center mb-0"> <label for="files" class="btn text-center" style="font-size:0.8rem;">Séléctionner Image</label></p>
                                <p class="p-0 mb-0"><input accept="image/*" id="files" class="p-0" style="visibility:hidden;" type="file"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card1 mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">-Nombre de voiture : @ViewData["nbCars"]</h6>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">-Nombre d'allocation : @ViewData["nbReservation"]</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card1 mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nom </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" id="nameInput" readonly value="@Model.ApplicationUser.nomComplet" class="champs removeInputStyles" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" id="emailInput" readonly value="@Model.ApplicationUser.Email" class="champs removeInputStyles" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Téléphone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" id="teleInput" readonly value=" @Model.ApplicationUser.PhoneNumber" class="champs removeInputStyles" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" id="adressInput" value="@Model.ApplicationUser.adresse" readonly class="champs removeInputStyles" />
                            </div>
                        </div>
                        <hr>

                        @if (User.Identity.GetUserId() == Model.ApplicationUserID)
                        {
                            <div class="row mr-auto" style="float:right;">
                                <a class="btn btn-primary" id="btnModifer">Modifier</a>
                                <a class="btn btn-primary d-none" id="btnSave">Enregistrer</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="row gutters-sm">
                    <div class="col-sm-12 mb-3">
                        <div class="card1" style="overflow:auto;">
                            <div class="card-body" style="min-height:100px;">
                                <div>

                                    @foreach (var item in Model.ApplicationUser.proprietaires.FirstOrDefault().Voitures)//every appUser has one proprietaire profile that s way i called the first one
                                    {
                                        byte[] byteData = item.image;
                                        //Convert byte arry to base64string
                                        string imreBase64Data = Convert.ToBase64String(byteData);
                                        string imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data); //https://www.c-sharpcorner.com/article/mvc-display-image-from-byte-array/
                                        ViewBag.img = imgDataURL;
                                        byte[] byteData2 = item.proprietaire.ApplicationUser.imageBytes;
                                        //Convert byte arry to base64string
                                        string imreBase64Data2 = Convert.ToBase64String(byteData2);
                                        string imgDataURL2 = string.Format("data:image/png;base64,{0}", imreBase64Data2);
                                        ViewData["ProfileImg"] = string.Format("data:image/png;base64,{0}", imreBase64Data2);
                                        @Html.Partial("_CarCard", item);
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-sm-6 mb-3">
                            <div class="card h-100">
                                <div class="card-body">

                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>


<style>

    .removeInputStyles {
        outline: none;
        border: none;
        padding-top: 5px;
    }

    removeInputStyles:focus {
        outline: none;
        border: none;
    }

    removeInputStyles:active {
        outline: none;
        border: none;
    }

    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card1 {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card1 {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    .form-control:read-only {
        border: 0;
        background-color: white;
        outline: 0;
        outline-color: white;
    }
</style>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $("#files").change(function () {
        if (this.files[0] != null) {
            var formdata = new FormData();

            formdata.append(this.files[0].name, this.files[0]);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '../Proprietaire/updatePhoto');
            xhr.send(formdata);
            var file = this.files[0];
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var output = document.getElementById('imgProfile');
                    output.src = URL.createObjectURL(file);
                    output.onload = function () {
                        URL.revokeObjectURL(output.src)
                    }
                }
            }

        }

    });


    $("#btnModifer").click(function () {


        $("#nameInput").attr('readonly', false);
        $("#emailInput").attr('readonly', false);
        $("#teleInput").attr('readonly', false);
        $("#adressInput").attr('readonly', false);
        $("#btnSave").removeClass("d-none");
        $(".champs").removeClass("removeInputStyles");
        $(".champs").addClass("form-control");
        $("#btnModifer").attr("disabled", true);
        $("#btnModifer").css("opacity", 0);


    });

    $("#btnSave").click(function () {

        $("#nameInput").attr('readonly', true);
        $("#emailInput").attr('readonly', true);
        $("#teleInput").attr('readonly', true);
        $("#adressInput").attr('readonly', true);

        $(".champs").removeClass("form-control");
        $(".champs").addClass("removeInputStyles");
        var profile = {
            nomComplet: $("#nameInput").val(),
            Email: $("#emailInput").val(),
            PhoneNumber: $("#teleInput").val(),
            adresse: $("#adressInput").val()
        };


        $.ajax({
            url: "../Proprietaire/update",
            type: 'POST',
            cache: false,
            contentType: "application/json;charset=utf-8",
            processData: false,
            data: JSON.stringify(profile),
            success: function (response) {
                $("#adress").html($("#adressInput").val());
                $("#name").html($("#nameInput").val());
                $("#tele").html($("#teleInput").val());
                $("#email").html($("#emailInput").val());
                $("#mainName").html($("#nameInput").val());

            },
            error: function (data) {
                alert("Serveur ne répond pas !");
            }
        });
        $("#btnModifer").attr("disabled", false);
        $("#btnModifer").css("opacity", 1);
        $("#btnSave").addClass("d-none");
    });



</script>