@model IEnumerable<projet_ASP.Models.ApplicationUser>

@{
    ViewBag.Title = "ListeNoire";
}

<h2>ListeNoire</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profileType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Description
        </th>

        <th>
           Admin with the order
        </th>




    </tr>

    @foreach (var item in Model)
    {
        <tr id="Element_@item.Id" o>
            @if(item.profileType=="Locataire")
            { 
            <th>
                <a href="@Url.Action("Index", "Locataire", new { id = item.Id })">@item.nomComplet</a>
            </th>
            }
            @if(item.profileType=="Proprietaire")
            { 
            <th>
                <a href="@Url.Action("Index", "Proprietaire", new { id = item.Id })">@item.nomComplet</a>
            </th>
            }
            <th>
                @Html.DisplayFor(modelItem => item.profileType)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Email)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.ListeNoire.description)
            </th>

            <th>
               @Html.DisplayFor(modelItem => item.ListeNoire.Admin.ApplicationUser.UserName)
            </th>

            <td>
                <a onclick='Retrive_From_BlackList("@item.Id")'>Retirer de la liste noire</a>
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>

    function Retrive_From_BlackList ( id) {
            var formData = new FormData();

            console.log(id)
            formData.append("id", id);

            $.ajax({
                type: "POST",
                url: '../Administrateur/ListeNoire',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {

                    $('#Element_' + id).hide(200);
                   


                },
                //error: function(error) {
                //    alert("error");
                //}
         @*   }).done(function () {
                alert('success');
            }.fail(function (xhr, status, errorThrown) {
                alert('fail');
            };*@
            });
        }



</script>
