@model projet_ASP.Models.RetourVoiture

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@projet_ASP.Resources.Models.RetourVoiture.details</h2>

<div class=" "> 
    <br />
    <dl class=" ">
        <dt>
            @Html.DisplayNameFor(model => model.dateRetour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateRetour)
        </dd>

        <hr class="py-0 my-3" />
        <dt>
            @Html.DisplayNameFor(model => model.etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etat)
        </dd>

        <hr class="py-0 my-3" />
        <dt>
            @Html.DisplayNameFor(model => model.pinalise)
        </dt>

        <dd>
            @(Model.pinalise? projet_ASP.Resources.Models.RetourVoiture.yes : projet_ASP.Resources.Models.RetourVoiture.no)
        </dd>

        <hr class="py-0 my-3" />
        <dt>
            @Html.DisplayNameFor(model => model.amende)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amende)
        </dd>
        
        <hr class="py-0 my-3" />
    </dl>
</div>
<p>
   @* @Html.ActionLink("Edit", "Edit", new { id = Model.idRetour }) |*@
    @Html.ActionLink(projet_ASP.Resources.Models.RetourVoiture.List, "Index",null,new { @class = "btn btn-primary" })
</p>
