@model IEnumerable<projet_ASP.Models.RetourVoiture>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index @Session["idContrat"] </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateRetour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.etat)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.pinalise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amende)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dateRetour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.etat)
        </td>
        <td>
           @(item.pinalise? "Oui":"non")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amende)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idRetour }) |
            @Html.ActionLink("Details", "Details", new { id=item.idRetour }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idRetour })
        </td>
    </tr>
}

</table>
