@using Microsoft.AspNet.Identity
@using projet_ASP.Models;


@if (User.IsInRole("Locataire"))
{
    <div class="button_wrapper">
        <div class="btn-group" id="btn-group">
            <a class="btn btn-primary" href="#" id="btnRecl">Réclamation</a>
            <a class="btn btn-primary" href="#" id="btnPenal">Pénalité</a>
        </div>
    </div>
    <br /><br /><br /><br />
}


<div id="table_reclamation">
    <br /><br />
    <table class="table table-hover table-striped thead-dark" id="reservation-tab">
        <thead class="thead-dark">
            <tr>
                <th>
                    Date Réclamation
                </th>
                <th>
                    Contenu
                </th>

                @if (User.IsInRole("Locataire"))
                {
                    <th>
                        Propriétaire
                    </th>

                }
                else
                {
                    <th>Locataire</th>
                }

                <th>
                    révisé
                </th>

            </tr>
        </thead>
        <tbody>
            @{
                string id = User.Identity.GetUserId();
                ApplicationDbContext db = new ApplicationDbContext();
                int idApplicationUser = 0;
                var listReclamation = new List<Reclamation>();
                if (User.IsInRole("Locataire"))
                {
                    var loca = db.Locataires.Where(l => l.ApplicationUserID.Equals(id)).FirstOrDefault();
                    if (loca != null) { idApplicationUser = loca.idLocataire; }
                    listReclamation = db.Reclamations.Where(r => r.idLocataire == idApplicationUser && r.Createur == false).ToList();

                }
                else
                {
                    var prop = db.Proprietaires.Where(l => l.ApplicationUserID.Equals(id)).FirstOrDefault();
                    if (prop != null) { idApplicationUser = prop.idProprietaire; }
                    listReclamation = db.Reclamations.Where(r => r.idProprietaire == idApplicationUser && r.Createur == true).ToList();
                }
                listReclamation.Reverse();
                foreach (var item in listReclamation)
                {
                    string idPropApplicationUser = "";
                    var name = "";
                    <tr>
                        <td>@item.dateCreation.ToString()</td>
                        <td>@item.description</td>
                        @if (User.IsInRole("Locataire"))
                        {
                            idPropApplicationUser = db.Proprietaires.Where(p => p.idProprietaire == item.idProprietaire).FirstOrDefault().ApplicationUserID;
                            name = db.Users.Where(pr => pr.Id == idPropApplicationUser).FirstOrDefault().nomComplet;
                            <td>
                                <a href='@Url.Action("Index", "Proprietaire", new { id = idPropApplicationUser })' class="text-primary" style="text-decoration:none;color:black;">
                                    @name
                                </a>
                            </td>
                        }
                        else
                        {
                            idPropApplicationUser = db.Locataires.Where(p => p.idLocataire == item.idProprietaire).FirstOrDefault().ApplicationUserID;
                            name = db.Users.Where(pr => pr.Id == idPropApplicationUser).FirstOrDefault().nomComplet;
                            <td>
                                <a href='/Locataire/Index?id=@idPropApplicationUser' class="text-primary" style="text-decoration:none;">
                                    @name
                                </a>
                            </td>
                        }

                        @if (item.valide == false)
                        {
                            <td>Non Révisé</td>
                        }
                        else
                        {
                            <td> Révisé</td>
                        }
                    </tr>
                }
            }

        </tbody>
    </table>

</div>


<div id="table_penalite" class="d-none">
    <table class="table table-hover table-striped thead-dark" id="reservation-tab">
        <thead class="thead-dark">
            <tr>
                <th>
                    Penalité sur la voiture
                </th>
                <th>
                    Description
                </th>
                <th>
                    amonde
                </th>

            </tr>
        </thead>
        <tbody>
            @{

                var penaliteList = db.RetourVoitures.Where(r => r.pinalise == true && r.Reservation.idLocataire == idApplicationUser).ToList();
                penaliteList.Reverse(); 
                foreach (var item in penaliteList)
                {
                    <tr>
                            @{
                        var voiture = db.Voitures.Where(v => v.idVoiture == item.Reservation.idVoiture).FirstOrDefault();
                                   <td>@voiture.marque--@voiture.matricule</td>
                            }

                        <td>@item.etat</td>
                        <td>@item.amende Dh</td>

                    </tr>
                }

            }


        </tbody>
    </table>

</div>




<style>
    #btnradio1, #btnradio2, #btnradio3 {
        visibility: hidden;
    }

    .button_wrapper {
        position: relative;
        margin-top:5%;
    }

    #btn-group {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
</style>


<link href="~/Content/my_dataTable.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
<script>
    $("#btnRecl").click(function (e) {
        $("#table_reclamation").removeClass("d-none");
        $("#table_penalite").addClass("d-none");
    });

    $("#btnPenal").click(function (e) {
        $("#table_reclamation").addClass("d-none");
        $("#table_penalite").removeClass("d-none");
    });

</script> 