<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    @*    <link href="https://fonts.googleapis.com/css?family=Coda|Open+Sans" rel="stylesheet">*@
    <style>
        .accountPresenter {
            position: absolute;
            top: 8px;
            right: 10px;
        }
    </style>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        @if (User.IsInRole("Proprietaire") || User.IsInRole("Locataire"))
        {
            <div class="accountPresenter">
                @Html.Partial("_acountPresenter")
            </div>
        }
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="  icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" CarRental", "Index", "Voitures", new { area = "" }, new { @class = "navbar-brand fas fa-car-side  text-white navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Voitures")</li>
                    @if (User.IsInRole("Locataire"))
                    {
                        <li>@Html.ActionLink("Locataire", "Index", "Locataire")</li>
                        <li>@Html.ActionLink("Reservations", "Index", "Reservations")</li>
                    }
                    @if (User.IsInRole("Proprietaire"))
                    {
                        <li>@Html.ActionLink("Proprietaire", "Index", "Proprietaire")</li>
                        <li>@Html.ActionLink("Mes Voitures", "VoituresProprietaire", "Voitures")</li>
                        <li>@Html.ActionLink("Reservations", "Index", "Reservations")</li>
                    }
                    @if (User.IsInRole("Admin"))//oujil
                    {
                        <li>@Html.ActionLink("Statistiques", "Index", "Proprietaire")</li>
                        <li>@Html.ActionLink("Proprietaires", "Index", "Proprietaire")</li>
                        <li>@Html.ActionLink("Locataires", "VoituresProprietaire", "Voitures")</li>
                        @*   <li>@Html.ActionLink("Réclamations", "Index", "Reservations")</li>*@
                    }
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="min-width: 320px; border-left: solid 1px #f1f1f1; border-right: solid 1px #f1f1f1;">
        @RenderBody()
        <hr />
        <footer>
            @*  <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            @**@ <div class=" " style="width:100%;text-align:center; padding-top:15px;">
                <a style="color: dimgray;" href="@Url.Action("SetLanguage", "Language", new { @name = "fr" })">Francais </a>  |
                <a style="color:dimgray;" href="@Url.Action("SetLanguage", "Language", new { @name = "en" })">English</a>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>

</html>
