@using Microsoft.AspNet.Identity
@using projet_ASP.Models;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    @if (User.IsInRole("Admin"))
           {
   @* <li>
            @Html.ActionLink("Fr", "SetLanguage", "Language", new { @class = "px-0", @name = "fr" }, htmlAttributes: new { title = "Français" })
        </li>
    <li>
        @Html.ActionLink("En", "SetLanguage", "Language", new { @class = "px-0", @name = "en" }, htmlAttributes: new { title = "English" })
    </li>*@
   @* <li>
         @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>*@
      <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        }
</ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
  @*  <li>
        @Html.ActionLink("Fr","SetLanguage", "Language", new {@class="px-0", @name = "fr" }, htmlAttributes: new { title = "Français" }) 
    </li>
    <li>
        @Html.ActionLink("En","SetLanguage", "Language", new {@class = "px-0", @name = "en" }, htmlAttributes: new { title = "English" })
    </li>*@

    <li>@Html.ActionLink(@projet_ASP.Resources.Models.ApplicationUser.register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink(@projet_ASP.Resources.Models.ApplicationUser.login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}
